@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&display=swap');

@import 'variables';
@import 'form';
@import 'infromation-stepper';

@import 'components/buttons';
@import 'components/checkbox';
@import 'components/spinner';
@import '../../node_modules/virtual-select-plugin/dist/virtual-select.min';
@import '../../node_modules/intl-tel-input/build/css/intlTelInput.min.css';

html,
body {
  height: 100%;

  font-family: 'Belanosima', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.form {
}
