@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

@import 'variables';
@import 'form';
@import 'infromation-stepper';

@import 'components/buttons';
@import 'components/checkbox';
@import 'components/spinner';
@import 'components/modal';

@import '../../node_modules/virtual-select-plugin/dist/virtual-select.min';
@import '../../node_modules/intl-tel-input/build/css/intlTelInput.min.css';

html,
body {
  height: 100%;

  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}
