/* ===== fonts =====*/
$font-family_base: 'Proba Pro', sans-serif;
$font-family_secondary: 'Montserrat', sans-serif;

/* ===== colors =====*/
$black: #000000;
$very-dark-blue: #0c1628;
$dark-blue: #192946;
$blue: #00a6eb;
$light-blue: #f5f9fb;
$green: #12a54f;
$red: #e60036;
$medium-grey: #5e697e;
$light-grey: #808794;
$very-light-grey: #c7cbd2;
$light-grayish-blue: #f0f6f9;
$white: #ffffff;

/* ===== width screen =====*/
$mobile-medium: 360px;
$mobile-large: 480px;
$mobile-min: 576px;
$mobile-max: 767px;
$tablet-medium: 991px;
$tablet-max: 1199px;
$desktop-min: 1200px;
