/* ===== fonts =====*/
$font-family_base : 'Proba Pro', sans-serif;
$font-family_secondary : 'Montserrat', sans-serif;

/* ===== colors =====*/
$black: #000000;
$very-dark-blue: #0C1628;
$dark-blue: #192946;
$blue: #00A6EB;
$light-blue: #F5F9FB;
$green: #12A54F;
$red: #E60036;
$medium-grey: #5E697E;
$light-grey: #808794;
$very-light-grey: #C7CBD2;
$light-grayish-blue: #F0F6F9;
$white: #ffffff;

/* ===== width screen =====*/
$mobile-medium: 360px;
$mobile-large: 480px;
$mobile-min: 576px;
$mobile-max: 767px;
$tablet-medium: 991px;
$tablet-max: 1199px;
$desktop-min: 1200px;